<div>
    <ul>
        <li class="py-2 pl-4 cursor-pointer">
            <div class="flex w-full">
                <span class="iconify text-white font-semibold mr-1 mt-1" data-icon="ant-design:caret-down" data-width="18"></span>
                <h2 class="text-white text-base">Channels</h2>
            </div>
        </li>
    </ul>

    <ul>
        <li class="py-2 pl-4 cursor-pointer">
            <div class="flex w-full">
                <span class="iconify text-white font-semibold mr-1 mt-1" data-icon="akar-icons:plus" data-width="18"></span>
                <h2 class="text-white text-base">Add Channel</h2>
            </div>
        </li>
    </ul>

    <ul>
        <li class="py-2 pl-4 cursor-pointer">
            <div class="flex w-full">
                <span class="iconify text-white font-semibold mr-1 mt-1" data-icon="ph:hash" data-width="18"></span>
                <h2 class="text-white text-base">design team</h2>
            </div>
        </li>
    </ul>

    <ul>
        <li class="py-2 pl-4 cursor-pointer">
            <div class="flex w-full">
                <span class="iconify text-white font-semibold mr-1 mt-1" data-icon="ph:hash" data-width="18"></span>
                <h2 class="text-white text-base">blazor-engineering</h2>
            </div>
        </li>
    </ul>
</div>