<div>
    <ul class="py-2">
        <li class="py-2 pl-4 cursor-pointer hover:bg-neutral-900/50">
            <div class="flex w-full">
                <span class="iconify text-white font-semibold mr-1 mt-1" data-icon="ci:menu-alt-01" data-width="23"></span>
                <h2 class="text-white font-semibold text-lg">All Unread</h2>
            </div>
        </li>
        
        <li class="py-2 pl-4 cursor-pointer hover:bg-neutral-900/50">
            <div class="flex w-full">
                <span class="iconify text-white font-semibold mr-1 mt-1" data-icon="clarity:chat-bubble-line" data-width="23"></span>
                <h2 class="text-white text-base">Threads</h2>
            </div>
        </li>

        <li class="py-2 pl-4 cursor-pointer hover:bg-neutral-900/50">
            <div class="flex w-full">
                <span class="iconify text-white font-semibold mr-1 mt-1" data-icon="ion:at" data-width="23"></span>
                <h2 class="text-white text-base">Mentions & Reactions</h2>
            </div>
        </li>

        <li class="py-2 pl-4 cursor-pointer hover:bg-neutral-900/50">
            <div class="flex w-full">
                <span class="iconify text-white font-semibold mr-1 mt-1" data-icon="fluent:bookmark-16-regular" data-width="23"></span>
                <h2 class="text-white text-base">Channel Browser</h2>
            </div>
        </li>
        
        <li class="py-2 pl-4 cursor-pointer hover:bg-neutral-900/50">
            <div class="flex w-full">
                <span class="iconify text-white font-semibold mr-1 mt-1" data-icon="fe:app-menu" data-width="23"></span>
                <h2 class="text-white text-base">Apps</h2>
            </div>
        </li>
        
        <li class="py-2 pl-4 cursor-pointer hover:bg-neutral-900/50">
            <div class="flex w-full">
                <span class="iconify text-white font-semibold mr-1 mt-1" data-icon="material-symbols:file-copy-outline-rounded" data-width="23"></span>
                <h2 class="text-white text-base">File Browser</h2>
            </div>
        </li>
        
        <li class="py-2 pl-4 cursor-pointer hover:bg-neutral-900/50">
            <div class="flex w-full">
                <span class="iconify text-white font-semibold mr-1 mt-1" data-icon="ant-design:down-outline" data-width="18"></span>
                <h2 class="text-white text-sm">Show more</h2>
            </div>
        </li>

    </ul>
    
    <Channels/>
</div>