@page "/"
@page "/client/{ResourceParameter}"

<AuthorizeView>
    <NotAuthorized>
        <Login />
    </NotAuthorized>

    <Authorized>
        <CascadingValue Value="@ResourceParameter">
            <NavMenu profileImageUrl="@context.User.Claims.Where(user => user.Type == "picture").FirstOrDefault().Value" />
            <div class="flex h-screen w-full">
                <Sidebar></Sidebar>
                <ChatContainer UserEmail="@context.User.Claims.Where(user => user.Type == ClaimTypes.Email).FirstOrDefault().Value" />
            </div>
        </CascadingValue>
    </Authorized>
</AuthorizeView>

@code
{
    [Parameter]
    public string ResourceParameter { get; set; } = string.Empty;
}
