@page "/"
@page "/client/{ResourceParameter:string}"

<AuthorizeView>
    <NotAuthorized>
        <Login />
    </NotAuthorized>

    <Authorized>
        <CascadingValue Value="@ResourceParameter">
            <NavMenu profileImageUrl="@context.User.Claims.FirstOrDefault(user => user.Type == "picture").Value" />
            <div class="flex h-screen w-full">
                <Sidebar></Sidebar>
                <ChatContainer UserEmail="@context.User.Claims.FirstOrDefault(user => user.Type == ClaimTypes.Email).Value" />
            </div>
        </CascadingValue>
    </Authorized>
</AuthorizeView>

@code
{
    [Parameter]
    public string ResourceParameter { get; set; } = string.Empty;
}
