<div class="flex justify-between p-4 border-b-2 border-gray-200/25 text-white">
    <div class="flex align-center">
        <h4>#blazor-engineering</h4>
        <span class="iconify mt-1 ml-2" data-icon="ei:star" data-width="20"></span>
    </div>
    
    <div class="flex align-center cursor-pointer hover:bg-neutral-900/50">
        <span class="iconify mt-1 mr-2" data-icon="ant-design:info-circle-outlined" data-width="17"></span>
        <p class="text-base">Details</p>
    </div>
</div>